body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: rgb(248, 245, 245);
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 38px;
    background: orangered;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.button_21{
    height: 38px;
    background: orangered;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    
}

.dack{
    padding: 15px;
    background: #025e33b2;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

/* Header **/
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: red 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: red;
    font-weight: bold;
}

header a:hover{
    color: blue;
    font-weight: bold;
}

/* showcase */
#showcase{
    min-height: 400px;
    background: url(../image/about-bg.jpg) no-repeat 0 -100px;
    text-align: center;
    color: #fdfdff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    color: orangered;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px ;
}

/* News */
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 500px;
}

/* Boxes */
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 90px;
    
}
/* sidebar */
aside#sidebar, aside#sidebar1{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

/* main-col */
article#main-col{
    float: left;
    width: 65%;
}

/*news update */
ul#newsupdate li{
    list-style: none;
    padding: 20px;
    border: #35424a solid 1px;
    margin-bottom: 5px;
    background: #8f9190;
}

/* Form */
#form{
    padding: 15px;
    color: #d62b2b;
    background: #35424a;
}

#form h1 #form{
   
    text-align: center;
}
 #main1m{
    float: right;
    margin-top: 15px;
    
}

#main1 input[type="email"]{
    padding: 1px;    
    width: 40%;

}
.container1{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}



footer{
    padding: 20px;
    margin-top: 20px;
    color: red;
    background-color: black;
    text-align: center;
}

/*media Queries */
@media(max-width: 768px){
    header #branding, header nav, header nav li, #newsleter h1, #newsletter form, #boxes .box, article#main-col, aside#sidebar, aside#sidebar1, #main1, #form h1, #naub1 .container1{
        float: none;
        text-align: center;
        width: 100%;
        padding: 2px;

    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1, #main1{
        margin-top: 40px;
    }

    #newsletter button, .quote button{
        display: block;
        width: 100%;
    }

    #newsleter form input, .quote input, .quote textarea, #main1 .container1[type="email"]{
        width: 100%;
        margin-bottom: 5px;
    }
}